body {
     font-family: Arial, sans-serif;
     background-color: #e5e4f1;
     
   }

   .header1 {
     background-color: #292972;
     color: #fff;
     padding-top: 1.25em;
     text-align: center;
   }

   .header1 h1 {
     margin: 0;


   }
   .head2 {
     display: block;
     padding: 0;
     
   }

   h2 {
     color: #393482;
    }
 
    .link10 {
     border: 0.0625em solid white; 
     border-radius: 0.625em;
      padding: 0.312em 0.625em;
       position:  absolute;
        right: 1.25em ;
         
    }

    .nav1 {
      display: block;
      margin-top: 1.25em;
      background-color: #393482;
 
 padding:  1.25em;
    }
 
    .log1:hover {
     text-decoration: none !important;
 
    }

    .nav1 ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline-block;
    }
    
    .nav1 li {
      display: inline-block;
      margin-right:  1.25em;
    }
    
    .nav1 a {
      color: #fff;
      text-decoration: none;
    }
    .nav1 a:hover {
     color: #968be9;
     text-decoration: underline 0.25em ;
     
     
   }

   .section11{
    margin:0%;
    padding: 0;
     position: relative;
  }
   
   main {
     padding: 1.25em;
   }

   section  {
    background-color: #fff;
    color: #333;
    padding: 1.25em ;
    margin-bottom:  1.25em;
  }
  
  footer {
    background-color: #292c7b;
    color: #fff;
    padding: 3.75em;
    text-align: center;
  }

  .center {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.875em;
    border: 0.125em solid white;
    background-color:rgb(75, 82, 180) ;
    border-radius: 1.25em;
    opacity: 0.9;
    display: fixed;
    position: fixed;
    padding: 1%;
   
  
  
    
  }

  .center a {

    padding:3.125em 3.125em;
  }
  /* another page */

  .header2 {
    background-color: #292972;
    color: #fff;
    padding-top: 1.25em;
    text-align: center;
    padding-bottom: 1.25em;
    
    


  }

  


    
  .header2 h1 {
    margin: 0;
   color: white;

  }
  .head2 {
    display: inline;
    padding: 0px;

  }

  h2 {
   color: #393482;
  }

  .nav2 {
    display: block;
    position: relative;
    justify-content: center;
    
  color: white;
    background-color: #393482;

   padding: 1.25em;

  }
  .head4 {
    margin: 0px;
  }

  .nav2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  
  .nav2 li {
    display: inline-block;
    margin-right: 1.25em;
  }

  .nav2 a {
    color: #fff;
    text-decoration: none;
  }

  .link3:hover {
    color: #968be9;

  }

  .ulsecond a:hover {
    color: #968be9;
    text-decoration: underline 2px ;

  }

  aside {
    background-color: white;
  }

  .img20 {
    height: 300px;
     border-radius: 0.3125em;
      margin: 0.3125em;
   }

   .stato {

    top: 25.6%;
    left: 71%;
   
    width: 350px;
    border: 2px solid white;
    background-color:rgb(255, 255, 255) ;
    
    opacity: 0.9;
    display: fixed;
    position: fixed;
    padding:10px 0.625em;
   }

   .divl {
    background-color: white;
    margin-top: 3%;
    left: 35%;
    position: relative;
    
    width: 350px;
    height: 500px;
    text-align: center;
    padding: 0.625em;
    position: relative;
    padding-top: 1.25em;
    
    border-radius: 0.625em;
  
   } 

   .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .head30 {
    line-height: 2;
     text-align: center;
      color: rgb(65, 65, 241);
  }
    
    label {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    
  .logdiv {
    margin: 30px 70px; 
    border-radius:10px ; 
    text-decoration: none;
    color: white; 
    padding: 0.625em;
    background-color: rgb(42, 42, 228);
  }

  .logdiv1 {
    margin: 30px 70px;
     border-radius:10px ;
      text-decoration: none;
      color: white;
      padding: 0.625em;
       background-color: rgb(40, 40, 209);
  }

  input[type="text"], input[type="password"],input[type="email"] {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid gray;
  }

  button[type="submit"] {
    background-color: blue;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
  }