body {
     font-family: Arial, sans-serif;
     background-color: #e5e4f1;
     
   }

   .header1 {
     background-color: #292972;
     color: #fff;
     padding-top: 1.25em;
     text-align: center;
   }

   .header1 h1 {
     margin: 0;


   }
   .head2 {
     display: block;
     padding: 0;
     
   }

   h2 {
     color: #393482;
    }
 
    .link10 {
     border: 0.0625em solid white; 
     border-radius: 0.625em;
      padding: 0.312em 0.625em;
       position:  absolute;
        right: 1.25em ;
         
    }

    .nav1 {
      display: block;
      margin-top: 1.25em;
      background-color: #393482;
 
 padding:  1.25em;
    }
 
    .log1:hover {
     text-decoration: none !important;
 
    }

    .nav1 ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline-block;
    }
    
    .nav1 li {
      display: inline-block;
      margin-right:  1.25em;
    }
    
    .nav1 a {
      color: #fff;
      text-decoration: none;
    }
    .nav1 a:hover {
     color: #968be9;
     text-decoration: underline 0.25em ;
     
     
   }

   .section11{
    margin:0%;
    padding: 0;
     position: relative;
  }
   
   main {
     padding: 1.25em;
   }

   section  {
    background-color: #fff;
    color: #333;
    padding: 1.25em ;
    margin-bottom:  1.25em;
  }
  
  footer {
    background-color: #292c7b;
    color: #fff;
    padding: 3.75em;
    text-align: center;
  }

  .center {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.875em;
    border: 0.125em solid white;
    background-color:rgb(75, 82, 180) ;
    border-radius: 1.25em;
    opacity: 0.9;
    display: fixed;
    position: fixed;
    padding: 1%;
   
  
  
    
  }